.maxWidthContainer {
    max-width: 500px!important;
    margin: 0 auto !important;
}

.lineUnderRegister{
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.error-text {
  color: #d9534f;
  font-size: 0.9rem;
  margin-top: 4px;
}